.collection
  padding: 120px 0
  &__wrapper
    display: grid
    grid-template-columns: 1fr 1fr
    grid-column-gap: 20px
  &__image-block
    display: grid
    grid-template-columns: 1fr 1fr
    grid-row-gap: 20px
    grid-column-gap: 20px
    width: 670px
    height: 490px
  &__item-first
    grid-row: 1 / 3
    max-width: 320px
    height: 490px
    border-radius: 8px
    overflow: hidden
  &__item-second
    grid-row: 1 / 2
    max-width: 320px
    height: 230px
    border-radius: 8px
    overflow: hidden
  &__item-third
    grid-row: 2 / 3
    max-width: 320px
    height: 230px
    border-radius: 8px
    overflow: hidden
  &__image
    width: 100%
    height: 100%
  &__title
    margin: 0
    font-family: 'HK Grotesk', sans-serif
    font-style: normal
    font-weight: 700
    font-size: 48px
    line-height: 60px
    color: $primary-color
  &__text
    margin-bottom: 28px
    font-style: normal
    font-weight: 400
    font-size: 20px
    line-height: 38px
    color: $text-color
  &__button
    font-style: normal
    font-weight: 700
    font-size: 18px
    line-height: 25px
    color: $btn-color
    text-decoration: none
    cursor: pointer
    &:focus
      outline: none
    &-arrow
      display: inline-block
      margin-left: 19px
  &__offer
    padding: 10px 30px 55px
