.navbar
  padding: 36px 0 70px
  background-color: $bg-color-light
  &__wrapper
    display: flex
    justify-content: space-between
    align-items: center
    width: 1120px
    margin: 0 auto
  &__logo-wrapper
    width: 90px
    height: 28px
  &__logo-pic
    display: block
    width: 90px
    height: 28px
    cursor: pointer
    &:focus
      outline: none
  &__logo
    width: 100%
    height: 100%
  &__mobile-menu
    display: none
  &-menu
    &__link
      margin-left: 40px
      font-style: normal
      font-weight: 600
      font-size: 16px
      line-height: 22px
      text-decoration: none
      color: $primary-color
      cursor: pointer
      &:focus
        outline: none
    &__menu-btn
      display: none

    &__button
      display: inline-block
      margin-left: 40px
      padding: 10px
      width: 131px
      height: 48px
      text-align: center
      font-style: normal
      font-weight: 700
      font-size: 16px
      line-height: 22px
      text-decoration: none
      border: 3px solid $btn-color
      color: $primary-color
      border-radius: 8px
      cursor: pointer
      &:focus
        outline: none
.mobile-menu
  position: relative
  padding: 20px 24px
  width: 304px
  font-style: normal
  font-weight: 600
  font-size: 16px
  background-color: $bg-color-light
  box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.16)
  &__close
    text-decoration: none
    &:focus
      outline: none
  &__icon
    position: absolute
    top: 16px
    right: 22px
    width: 20px
    height: 20px

  &__list
    padding: 0
    list-style: none
  &__item
    &--mb-2
      margin-bottom: 20px
  &__link
    line-height: 22px
    text-decoration: none
    color: $primary-color
  &__button
    display: inline-block
    padding: 9px 86px
    width: 256px
    line-height: 22px
    text-decoration: none
    color: $btn-color
    border: 2px solid $btn-color
    border-radius: 8px
    &:focus
      outline: none
